/*
	Author: Mateusz 'dArkyunn' Skowron
*/

.row:after {
    content: "";
    clear: both;
    display: block;
}

/* -- SMALL SCREENS -- */

[class*="colu"] {
    float: left;
    padding: 15px;
    display: block;
    width: 100%;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0);

}

.container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.section {
    width: 100%;
    padding-bottom: 15px;
    min-height: 440px;
    background-color: #191919;
    color: #fff;
}

.section[filter-color=lgray] {
    background-color: #636363;
}

.section[filter-color=red] {
    background-color: #ff5349;
}

.section[filter-color=dgray]{
    background-color: #2c2c2c;
}

.text-wrapper[filter-box=aligner]{
    display: table-cell;
    vertical-align: middle;
    height: 440px;
}

/* -- END OF SMALL SCREENS -- */

/* -- MEDIUM SCREENS -- */

@media only screen and (min-width: 600px) {
    .colu.med1 {
        width: 8.33%;
    }
    .colu.med2 {
        width: 16.66%;
    }
    .colu.med3 {
        width: 25%;
    }
    .colu.med4 {
        width: 33.33%;
    }
    .colu.med5 {
        width: 41.66%;
    }
    .colu.med6 {
        width: 50%;
    }
    .colu.med7 {
        width: 58.33%;
    }
    .colu.med8 {
        width: 66.66%;
    }
    .colu.med9 {
        width: 75%;
    }
    .colu.med10 {
        width: 83.33%;
    }
    .colu.med11 {
        width: 91.66%;
    }
    .colu.med12 {
        width: 100%;
    }

    .box {
        margin: 30px 0;
    }
}

/* -- END OF MEDIUM SCREENS -- */

/* -- LARGE SCREENS -- */

@media only screen and (min-width: 999px) {
    .colu.lrg1 {
        width: 8.33%;
    }
    .colu.lrg2 {
        width: 16.66%;
    }
    .colu.lrg3 {
        width: 25%;
    }
    .colu.lrg4 {
        width: 33.33%;
    }
    .colu.lrg5 {
        width: 41.66%;
    }
    .colu.lrg6 {
        width: 50%;
    }
    .colu.lrg7 {
        width: 58.33%;
    }
    .colu.lrg8 {
        width: 66.66%;
    }
    .colu.lrg9 {
        width: 75%;
    }
    .colu.lrg10 {
        width: 83.33%;
    }
    .colu.lrg11 {
        width: 91.66%;
    }
    .colu.lrg12 {
        width: 100%;
    }

    .box {
        margin: 10px;
    }
}

@media only screen and (min-width: 1289px) {
    .box {
        margin: 10px;
    }
}

@media only screen and (min-width: 1840px) {
    .box {
        margin: 30px;
    }
}

/* -- END OF LARGE SCREENS -- */
