@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,700|Roboto:100,300,400,700&subset=latin-ext');

* {
    box-sizing: border-box;
}

body,
head,
:after,
:before {
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Raleway', 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: auto;
}



header {
    position: relative;
    z-index: 1;
    height: 100vh;
    max-height: 550px;
    background: -webkit-linear-gradient(bottom, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.3)), url('../img/header.jpg');
    background: -o-linear-gradient(bottom, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.3)), url('../img/header.jpg');
    background: linear-gradient(to top, rgba(44, 44, 44, 0.2), rgba(224, 23, 3, 0.3)), url('../img/header.jpg');
    color: #fff;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#nav {
    position: fixed;
    width: 100%;
    height: 44px;
    padding: 10px;
    z-index: 999;
    transition: background-color 200ms 0.2s ease-out;
    box-sizing: content-box;
}

#nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    text-transform: uppercase;
    transition: color 200ms ease-out;
    float: right;
    line-height: 1.15;
}

.colored {
    background-color: rgba(25, 25, 25, 1);
}

nav a:hover {
    color: rgba(255, 255, 255, 1);
}

header.parallax {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}


.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title,
.subtitle {
    line-height: 1.15;
    font-weight: bold;
}

.title {
    font-size: 3.5em;
}

.subtitle {
    font-size: 2.75em;
    letter-spacing: 2px;
}

p {
    margin: 0;
    padding: 10px;
}

div.text-wrapper > p {
    text-align: center;
    font-size: 1.22em;
    padding: 25px;
}

.section > .container {
    padding: 50px;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.box {
    background-color: #fff;
    height: 200px;
    font-size: 1.666em;
    margin: 10px 0;
    color: #fff;
    font-weight: 100;
}

.box[filter-color=red] {
    background-color: #ff5349;
}

.box[filter-color=gray] {
    background-color: #2c2c2c;
}

.box[filter-text=right] {
    text-align: right;
}

.box[filter-text=left] {
    text-align: left;
}

.logo {
    position: fixed;
    left: 15%;
    top: 0;
    background-color: rgba(181, 58, 58, 1);
    padding: 20px;
    z-index: 1001;
}

.logo img {
    height: 88px;
    width: 77px;
}